<div class="task-container">
  <div class="top">
    <div class="title">
      <button
        mat-icon-button
        *ngIf="!sideNavOpenState"
        (click)="openCloseSideNav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h2 class="text">Todo List</h2>
    </div>
    <div class="user">
      <h2 class="text">{{ userName }}</h2>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <div class="add-task" routerLink="task/0">Add New Task</div>
    <div class="task" *ngFor="let todo of toDoList">
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >{{ todo.title
            }}<mat-card-subtitle>{{
              todo.dueDate | date
            }}</mat-card-subtitle></mat-card-title
          >
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
          <p>{{ todo.description }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button class="btn" [routerLink]="['task', todo._id]">
            Edit Task
          </button>
          <button class="btn del" (click)="deleteTodo(todo._id)">
            Delete Task
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
