<div class="task-container">
  <app-header></app-header>
  <mat-divider></mat-divider>
  <div class="content">
    <div class="add-task" routerLink="task/0">Add New Task</div>
    <div class="task" *ngFor="let task of taskList">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title> {{task.title}} </mat-panel-title>
            <p class="mr-3">
              {{task.dueDate | date}}
            </p>
          </mat-expansion-panel-header>
          <p>{{task.description}}</p>
          <div class="flex justify-content-end">
            <button class="btn" [routerLink]="['task', task._id]">
              Edit Task
            </button>
            <button class="btn del" (click)="deleteTask(task._id)">
              Delete Task
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>